<h1><%= @current_profile.username %>'s profile</h1>
<% if @profile_picture != nil %>
  <div style="width:400px; height:auto">
    <%= image_tag(@profile_picture.last.image, style:'width:100%') %>
  </div>
<% end %>
<% if current_user.id == params[:id].to_i %>
  <%= link_to 'Upload a profile picture', new_profile_picture_path %>
<% end %>
<h3>This users videos</h3>
  <% @videos.each do |video| %>
  <p>Title: <%= link_to video.title, video %></p>
  <p>Description: <%= video.description %></p>
  <p>Tags: <%= raw video.all_tags %></p>
  <p>By: <%= link_to video.user.username, '/profiles/' + video.user.id.to_s %> </p>
  <%= link_to 'Show', video %></td>
  <% if current_user === video.user %>
    <%= link_to 'Edit', edit_video_path(video) %>
    <%= link_to 'Destroy', video, method: :delete, data: { confirm: ' sure?' } %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Video', new_video_path %>
