<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.text_field :title, placeholder: 'Title' %>
  </div>
  <div>
    <%= form.text_area :description, placeholder: 'Description' %>
  </div>
  <div>
    <%= form.text_field :all_tags, placeholder: "tags separated with commas" %>
  </div>
    <div class="align-horizontal">  
      <%= form.file_field :clip, name: 'Title' %>
      <%= form.file_field :thumbnail, placeholder: 'Title' %>
    </div>
    <%= form.submit %>
<% end %>
