<p id="notice"><%= notice %></p>

<h1>All Videos</h1>
<div class="link-button">
<%= link_to 'New Video', new_video_path %>
</div>
  <% @videos.each do |video| %>
      <h2><%= link_to video.title, video %></h2>
      <p><%= video.description %></p>
      <caption><%= raw video.all_tags %></caption>
      <p>By <strong><%= link_to video.user.username, '/profiles/' + video.user.id.to_s %><strong> </p>
      <%= link_to 'Show', video %></td>
      <% if current_user === video.user %>
        <%= link_to 'Edit', edit_video_path(video) %>
        <%= link_to 'Destroy', video, method: :delete, data: { confirm: ' sure?' } %>
      <% end %>
  <% end %>
<br>
