
<div class="align-vertical">
  <p id="notice"><%= notice %></p>
  <nav>
    <h1>All Videos</h1>
  </nav>
  <div class="link-button">
    <%= link_to 'New Video', new_video_path %>
  </div>
  <% @videos.each do |video| %>
  <div class="video-card">
    <div class="video-size-for-card">
      <%= link_to image_tag(video.thumbnail, style:'width:100%'), video %>
    </div>
    <div class="video-card-text-content">
      <a href="/videos/<%=video.id%>"><h3><%= video.title %></h3></a>
      <p><%= video.hits %> views</p>
      <div style="text-align: right;">
        <% if video.tags.length > 0 %>
          <% video.tags.each do |tag| %>
          <p><%= "#{tag.name.split(',').map { |t| "##{t}"}. join(' ')}" %></p>
          <% end %>
        <% end %>
      </div>
      <p>by <%= link_to video.user.username, '/profiles/' + video.user.id.to_s %></p>
  </div>  
</div>
  <% end %>
<br>
