<p id="notice"><%= notice %></p>
<link href="https://vjs.zencdn.net/7.7.5/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p>
  Title: <%= @video.title %>
</p>

<p>
  Description: <%= @video.description %>
</p>

<p>
  Tags: <%= raw @video.all_tags %>
</p>

<video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="<%= url_for(@video.thumbnail)%>"
    data-setup="{}"
  >
    <source src="<%= url_for(@video.clip) %>" type="video/mp4" />
    
  </video>
  <% if current_user.id != @video.user.id %>
  <h3>Follow this User</h3>
    <% if !current_user.following?(@video.user) %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <%= hidden_field_tag :followed_id, @video.user.id %>
        <%= f.submit "Follow" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @video.user.id), html: {method: :delete }) do |f| %>
        <%= f.submit "Unfollow" %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <span class="likes-count"><%= @video.get_upvotes.size %></span> <span>Number of Views: <%= @video.hits %> </span>
  <%= link_to like_video_path(@video), class:"like-btn", method: :put, remote: :true do %>
  <br>
    <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
  <% end %>

  <h3>Did you like this video? Donate any amount to support this user.</h3>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_donations" />
    <input type="hidden" name="business" value="<%= @video.user.email %>" />
    <input type="hidden" name="currency_code" value="GBP" />
    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
  </form>
  
  <div id="chatbox" style="width: 30%;height: 100px;border:solid black;margin-top: 20px;overflow:scroll">
    <% @comments.each do |comment| %>
    <div class="message"><%= comment.make_comment(comment) %> </div>
    <% end %>
  </div>
  <%= form_for @comment, remote: true do |f| %>
    <%= f.hidden_field :video_id, :value => params[:id] %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
<script src="https://vjs.zencdn.net/7.7.5/video.js"></script>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
