<div class="align-vertical">
<% if current_user %>

  <h3>You are following <%= current_user.following.count %> users</h3>
  <h3>You have <%= current_user.followers.count %> followers</h3>

    <% current_user.followers.each do |follower|%>
      <p><%= follower.email %></p>
    <% end%>
    <% current_user.following.each do |follower|%>
      <p><%= follower.email %></p>
    <% end%>

    <h3>Newest Uploads by people you follow</h3>
    <% current_user.following.each do |follower|%>
      <div class="video-card">
        <video
        id="my-video"
        class="video-js"
        controls
        preload="auto"
        width="640"
        height="264"
        poster="<%= url_for(follower.videos.last.thumbnail) %>"
        data-setup="{}"
        >
        <source src="<%= url_for(follower.videos.last.clip) %>" type="video/mp4" />
        
        </video>
      </div>
      
    <% end%>
<% end %>
</div>