<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @profile_picture.caption %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile_picture.user_id %>
</p>

<div style="width:400px; height:auto">
  <%= image_tag(@profile_picture.image, style:'width:100%') %>
</div>

<%= link_to 'Edit', edit_profile_picture_path(@profile_picture) %> |
<%= link_to 'Back', profile_pictures_path %>
