<!DOCTYPE html>
<html>
  <head>
    <title>Covid2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header>
      <%= form_tag(search_page_path, method: :get) do %>
      <%= search_field_tag :search, params[:search], placeholder: "Search" %>
      <%= button_tag "Search", :name => nil %>
      <% end %>
      
      <% if current_user %>
        <%= current_user.username %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
        <%= link_to 'View your profile', '/profiles/' + current_user.id.to_s %>
        <%= link_to 'Home', home_index_path %>
        <%= link_to 'Upload a new video', new_video_path %>
      <% else %>
        <%= link_to 'Create an account', new_user_registration_path %>
        <%= link_to 'Sign in', new_user_session_path%>
      <% end %>
      <%= link_to 'All videos', videos_path %>

  </header>
  <%= yield %>
</body>
</html>
