<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			function changeClass() {
				var app = document.getElementById('app')
				if(app.className == "theme-dark")
				{
				  app.className = "theme-light"
				}
				else
				{
				  app.className = "theme-dark"
				}
			}
		</script>
		<title>Covid2020</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body class="theme-light" id="app">
		<div class="container">
			<header>
				<div id="logo-and-title">
					<%= image_tag("Logo") %>
					<a id="logo-text">HOME</a>
				</div>
				<div id="headerSearchbar">
					<%= form_tag(search_page_path, method: :get) do %>
						<%= search_field_tag :search, params[:search], placeholder: "Search" %>
						<%# <%= button_tag(type: 'button') { content_tag(:b, 'Go') } %>
					<% end %>
				</div>
				<div id="account">
					<% if current_user %>
						<%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
					<% else %>
						<%= link_to 'Sign Up', new_user_registration_path %>
						<%= link_to 'Sign in', new_user_session_path%>
					<% end %>
				</div>
				<%# <div id="search"></div> %>
				<!-- Header content -->
			</header>
			<nav>
				<!-- Navigation -->
			</nav>
			<main >
				<!-- Main content -->
				<%= yield %>
				<button class="default" onclick="changeClass()" id="myButton">Click Here!</button>
			</main>
			<aside>
				<!-- Sidebar -->
			</aside>
			<footer>
				<!-- Footer content -->
			</footer>
		</div>
	</body>
</html>
